@tailwind base;

@layer base {
  h1 {
    @apply text-6xl;
  }
  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
    @apply font-medium;
  }
}

body {
    /* background-image: linear-gradient(160deg, rgb(51, 183, 255), transparent 100%), linear-gradient(87deg, rgb(112, 228, 112) 49%, transparent 90%), radial-gradient(circle at 157% 159%, rgb(217, 108, 214) 18%, rgb(196, 156, 222) 50%);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: #000106;
    color: white;
}

/* #tsparticles {
  position : absolute;
  width:100%;
  height:100%;
  z-index:-1;
} */