@tailwind base;
@tailwind components;
/* @tailwind utilities; */

/* color vars */
:root {
  --color-limegreen: #baff29;
  --color-blue:      #B2E4DB;
  --color-dark-blue: #000729;
  --color-white:     #ffffff;
}

@layer base {

  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  h1 {
    font-family: 'Heebo', sans-serif;
    color: var(--color-limegreen);
    font-size: 6.25rem;
    letter-spacing: -0.094rem;
  }
  h2 {
    @apply font-black;
    font-family: 'Heebo', Arial, sans-serif;
    color: var(--color-limegreen);
    font-size: 2.25rem;
  }

  h3 {
    @apply font-extrabold;
    font-family: 'Heebo', sans-serif;
    color: var(--color-limegreen);
    font-size: 1.5rem;
  }

  body {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
  }

  p {
    @apply leading-relaxed;
    @apply font-normal;
    @apply mb-4;
    color: var(--color-blue);
  }

  p a {
    color: var(--color-limegreen);
  }

  code, strong {
    color: var(--color-limegreen);
  }
}

@keyframes blogpost-before {
  from {
    right: 0;
    top: 0;
  }
  to {
    top: -1.25rem;
    right: -1.25rem;
  }
}

@keyframes blogpost-after{
  from {
    left: 0;
    bottom: 0;
  }
  to {
    bottom: -1.25rem;
    left: -1.25rem;
  }
}

